@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap'); */
:root {
  --background: #ffffff;
  --foreground: #000;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-grotesk-font: "Familjen Grotesk", sans-serif;
  --font-custom-font: "CustomFont", sans-serif;
  --font-roboto-font: "Roboto", sans-serif;
  --color-text-primary: #004cf9;
  --color-text-secondary: #c40e44;
  --color-text-tertiary: #7f2484;
}
@font-face {
  font-family: "CustomFont";
  src:
    url("/font/grotesk.otf") format("woff2"),
    url("/font/grotesk.otf") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}
/* html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden; 
} */
.block_top {
  background: #213f29;
  height: 400px;
  color: #faebbb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
  border-radius: 50px;
}
.next_block {
  background: #213f29;
  height: 400px;
  color: #faebbb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 150px;
  border-radius: 50px;
}
.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 90px;
}
.custom-card {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 70vh;
  background-color: #213f29;
  color: #faebbb;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}
.card1 {
}
.card2 {
  top: 40px;
}
.card3 {
  top: 80px;
}
.opacity {
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  opacity: 0.6;
}
.scale {
  moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  width: 95%;
}
.nav {
  display: block;
  position: absolute;
  left: 30px;
  top: 45%;
  z-index: 10;
}
.nav li {
  padding: 2px;
}
.nav li a {
  text-decoration: none;
}
.nav .circle {
  border: 1px solid #faebbb;
  color: #faebbb;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 25px;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
.nav .active {
  background: #faebbb;
  color: #213f29;
}
.scroll-stack-card {
  height: auto;

  will-change: transform;
}

.scroll-stack {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
